@import url("https://fonts.googleapis.com/css?family=Fjalla+One&display=swap");

* {
    margin: 0;
    padding: 0;
}

body {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/38816/image-from-rawpixel-id-2210775-jpeg.jpg") center center no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: grid;
    align-items: center;
    justify-items: center;
}

#form,#card{
    background: #f8f4e5;
    padding: 25px 50px;
    border: 2px solid rgba(0,0,0,1);
    box-shadow: 10px 10px 1px #ffa580, 10px 10px 1px 2px rgba(0,0,0,1);
}

input,textarea,header,footer,label,select,p {
    display: block;
    width: 100%;
    font-size: 14pt;
    line-height: 14pt * 2;
    font-family: 'Fjalla One';
    margin-bottom: 14pt * 2;
    border: none;
    border-bottom: 4px solid rgba(0,0,0,1);
    background:  #f8f4e5;
    min-width: 250px;
    /* padding-left: 5px; */
    outline: none;
    color: rgba(0,0,0,1);
}

label,select,p,input[type=file] {
    font-size: 12pt;
    line-height: 12pt * 2;
    margin-bottom: 12pt * 2;
    border-bottom: 4px solid rgb(97, 0, 0);
    min-width: fit-content;
}

input[type=file]::file-selector-button {
    font-family: 'Fjalla One';
    color: #2A293E;
}

header,footer {
    margin-bottom: 20px;
    margin-top: 20px;
}

p{
    margin-top: 5px;
    border-bottom: 3px solid rgb(97, 0, 0);
}

.sand {
    display: flex;
    margin-bottom: 10px;
}

.sand label {
    margin-right: 10px;
}

input:focus,textarea:focus{
    border-bottom: 5px solid #ffa580
}

button {
    display: inline;
    margin: 10px;
    line-height: 14pt * 2;
    padding: 0 20px;
    background:  #ffa580;
    letter-spacing: 2px;
    transition: .2s all ease-in-out;
    outline: none;
    border: 1px solid rgba(0,0,0,1);
    box-shadow: 3px 3px 1px  #95a4ff, 3px 3px 1px 1px rgba(0,0,0,1);
}

.btns {
    display: flex;
    justify-content: center;
}

button:hover {
    background: rgba(0,0,0,1);
    color: white;
    border: 1px solid rgba(0,0,0,1)
}

button::selection {
    background: #ffc8ff;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
    border-bottom: 5px solid #95a4ff;
    -webkit-text-fill-color: #2A293E;
    box-shadow: 0 0 0px 1000px #f8f4e5 inset;
    transition: background-color 5000s ease-in-out 0s;
}